/duplicatecode
/tempgrades
/codetesting
week05answers.txt
week06answers.txt
week07answers.txt
week08answers.txt
week09answers.txt
week10answers.txt
week11answers.txt
week12answers.txt
week13answers.txt